actionlib==1.13.1
angles==1.9.13
argoverse @ file:///tmp/argoverse-api
backcall==0.2.0
bondpy==1.8.5
camera-calibration==1.15.2
camera-calibration-parsers==1.12.0
casadi==3.5.1
catkin==0.8.6
colour==0.1.5
controller-manager==0.19.1
controller-manager-msgs==0.19.1
cv-bridge==1.15.0
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
diagnostic-analysis==1.9.4
diagnostic-common-diagnostics==1.9.4
diagnostic-updater==1.9.4
dynamic-reconfigure==1.7.0
future==0.18.2
gazebo-plugins==2.9.1
gazebo-ros==2.9.1
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.12
h5py==2.10.0
image-geometry==1.15.0
imageio==2.8.0
interactive-markers==1.12.0
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.1
joblib==0.15.1
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
kiwisolver==1.2.0
lap==0.4.0
laser-geometry==1.6.5
matplotlib==3.2.2
message-filters==1.15.7
motmetrics==1.1.3
mpmath==1.1.0
networkx==2.4
numpy==1.19.0
numpy-quaternion==2020.5.19.15.27.24
opencv-python==4.2.0.34
pandas==1.0.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
Pygments==2.6.1
pyntcloud @ git+https://github.com/daavoo/pyntcloud@7efd0582e725022b726b9646c8d186f137800176
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.1
PyYAML==5.3.1
qt-dotgraph==0.4.1
qt-gui==0.4.1
qt-gui-cpp==0.4.1
qt-gui-py-common==0.4.1
resource-retriever==1.12.6
rosbag==1.15.7
rosboost-cfg==1.15.4
rosclean==1.15.4
roscreate==1.15.4
rosgraph==1.15.7
roslaunch==1.15.7
roslib==1.15.4
roslint==0.12.0
roslz4==1.15.7
rosmake==1.15.4
rosmaster==1.15.7
rosmsg==1.15.7
rosnode==1.15.7
rosparam==1.15.7
rospy==1.15.7
rosservice==1.15.7
rostest==1.15.7
rostopic==1.15.7
rosunit==1.15.4
roswtf==1.15.7
rqt-action==0.4.9
rqt-bag==0.4.13
rqt-bag-plugins==0.4.13
rqt-console==0.4.11
rqt-dep==0.4.10
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.15
rqt-launch==0.4.8
rqt-logger-level==0.4.11
rqt-moveit==0.5.9
rqt-msg==0.4.9
rqt-nav-view==0.5.7
rqt-plot==0.4.12
rqt-pose-view==0.5.10
rqt-publisher==0.4.9
rqt-py-common==0.5.2
rqt-py-console==0.4.9
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.12
rqt-robot-steering==0.5.11
rqt-runtime-monitor==0.5.8
rqt-rviz==0.6.1
rqt-service-caller==0.4.9
rqt-shell==0.4.10
rqt-srv==0.4.8
rqt-tf-tree==0.6.1
rqt-top==0.4.9
rqt-topic==0.4.12
rqt-web==0.4.9
rviz==1.14.0
scikit-learn==0.23.1
scipy==1.5.0
sensor-msgs==1.13.0
Shapely==1.7.0
six==1.15.0
sklearn==0.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.5
sympy==1.6
tensorboardX==2.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.2
tf2-kdl==0.7.2
tf2-py==0.7.2
tf2-ros==0.7.2
threadpoolctl==2.1.0
topic-tools==1.15.7
torch==1.5.1
tqdm==4.46.1
traitlets==4.3.3
typing-extensions==3.7.4.2
wcwidth==0.2.5
xacro==1.14.2
